.point-form {
    font-size: 20px;
    color: #dcdcdc;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.point-form label {
    display: inline-block;
    margin-bottom: 10px;
}

.point-form-input {
    border: none;
    padding: 5px;
    font-size: 20px;
}

@media (min-width: 768px) {
    .point-form label {
        display: inline-block;
        margin-bottom: 20px;
    }
}