.pointList {
    list-style: none;
    padding: 0;
    position: relative;
}

.point-element {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    justify-content: space-between;
    outline: 2px solid black;
    margin-bottom: 10px;
    position: relative;
    background: white;
}

.point-element-text {
    display: block;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.point-element-delete {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    position: absolute;
    right: 40px;
}

.point-element-delete :hover {
    cursor: pointer;
}