.App {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    background: #4e5452;
}

.app-points-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .App {
        flex-direction: row;
        font-family: 'Roboto Slab', serif;
        background: #4e5452;
        justify-content: space-between;
    } 
    
    .app-points-container {
        width: 30%;
    }
}