.App {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    font-family: 'Roboto Slab', serif;
    padding: 50px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background: #4e5452;
}

.app-points-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 40px;
}

